
    @Test(dataProvider = "$type$BinaryOpProvider", invocationCount = 10)
    static void [[TEST]]$vectorteststype$(IntFunction<$type$[]> fa, IntFunction<$type$[]> fb) {
        $type$[] a = fa.apply(SPECIES.length());
        $type$[] b = fb.apply(SPECIES.length());
        $type$[] r = new $type$[a.length];

        // Computation.
        for (int i = 0; i < a.length; i += SPECIES.length()) {
            $abstractvectortype$<Shapes.S$bits$Bit> av = SPECIES.fromArray(a, i);
            $abstractvectortype$<Shapes.S$bits$Bit> bv = SPECIES.fromArray(b, i);
            av.[[TEST]](bv).intoArray(r, i);
        }

        assertArraysEquals(a, b, r, $vectorteststype$::[[TEST]]);
    }
