   @org.testng.annotations.Test(invocationCount = 10)
    static void [[TEST]]$vectorteststype$() {
        $type$[] a = new $type$[SIZE];
        $type$[] b = new $type$[SIZE];

        // Data Initialization.
        init_arr1(a);

        // Computation.
        for (int i = 0; i < a.length; i += species.length()) {
            $abstractvectortype$<Shapes.S$bits$Bit> av = species.fromArray(a, i);
            av.[[TEST]]().intoArray(b, i);
        }

        // Checking.
        for (int i = 0; i < a.length; i++) {
            Assert.assertEquals(($type$)[[TEST]](($type$)a[i]), b[i], "at index #" + i);
        }
    }

