#if[intOrLongOrFP]
    static $type$[] [[TEST]]($type$ a[], int ix, int[] b, int iy) {
      $type$[] res = new $type$[SPECIES.length()];
      for (int i = 0; i < SPECIES.length(); i++) {
        int bi = iy + i;
        res[i] = a[b[bi] + ix];
      }
      return res;
    }

    @Test(dataProvider = "$type$BinaryOpProvider")
    static void [[TEST]]$vectorteststype$(IntFunction<$type$[]> fa, IntFunction<$type$[]> fb) {
[[KERNEL]]
        assertArraysEquals(a, b, r, $vectorteststype$::[[TEST]]);
    }
#end[intOrLongOrFP]
