    static $type$ [[TEST]]($type$[] a, int idx) {
        $type$ res = [[TEST_INIT]];
        for (int i = idx; i < (idx + SPECIES.length()); i++) {
            res [[TEST_OP]]= a[i];
        }

        return res;
    }

    static $type$ [[TEST]]($type$[] a) {
        $type$ res = [[TEST_INIT]];
        for (int i = 0; i < a.length; i += SPECIES.length()) {
            $type$ tmp = [[TEST_INIT]];
            for (int j = 0; j < SPECIES.length(); j++) {
                tmp [[TEST_OP]]= a[i + j];
            }
            res [[TEST_OP]]= tmp;
        }

        return res;
    }
